@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap');

:root {
    --lila: #BB9CC0;
    --lila_select: #b166bd;
    --lila_opacidad: #bb9cc02d;
    --verde: #AAF27F;
    --verde_opacidad: #2A4634;
    --body: #161C24;
    --body_box: #252C35;
    --header_box: #333D48;
    --lila: #BB9CC0;
    --rojo: #fa484270;
    --blanco_gris: #C4CDD5;
    --blanco: #EFF0F1;
    --box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    --letra: font-family: 'Baloo 2', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo 2', sans-serif;
}

body {
    background-color: var(--body);
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: var(--body);
    border-right: 3px solid var(--body_box);
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
}

.sidebar.open {
    width: 250px;
}

.sidebar .logo-details {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    position: relative;
}

.sidebar .logo-details img {
    width: 100px;
    opacity: 0;
    border-radius: 50%;
}

.sidebar .logo-details h2 {
    color: #fff;
    font-size: 18px;
    margin-top: 10px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details img,
.sidebar.open .logo-details h2 {
    opacity: 1;
}

.sidebar .logo-details #btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
    text-align: right;
}

.sidebar i {
    color: var(--lila);
    font-weight: bold;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}

.sidebar .nav-list {
    margin-top: 20px;
    height: 100%;
}

.sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;

}

.sidebar li .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: var(--body_box);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
    color: var(--blanco_gris);
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}

.sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar.open li .tooltip {
    display: none;
}


.sidebar li a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}

.sidebar li a:hover {
    background: var(--lila_opacidad);
}

.sidebar li a .links_name {
    color: var(--blanco_gris);
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.sidebar.open li a .links_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
    transition: all 0.5s ease;
    color: var(--lila);

}

.sidebar li i {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
}

.sidebar li.profile {
    position: fixed;
    height: 60px;
    width: 78px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    background: var(--body_box);
    transition: all 0.5s ease;
    overflow: hidden;
}

.sidebar.open li.profile {
    width: 250px;
}

.sidebar li .profile-details {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.sidebar li img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile .job {
    font-size: 15px;
    font-weight: 400;
    color: var(--blanco_gris);
    font-weight: bold;
    white-space: nowrap;
}

.sidebar li.profile .job {
    font-size: 12px;
    color: var(--lila);
}

.sidebar .profile #log_out {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: var(--body_box);
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    transition: all 0.5s ease;
}

.sidebar.open .profile #log_out {
    width: 50px;
    background: none;
}

#modulos {
    margin-left: 19px;
    font-weight: bolder;
    font-size: 15px;
}

.home-section {
    position: relative;
    background: var(--body);
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}

.sidebar.open~.home-section {
    left: 250px;
    width: calc(100% - 250px);
}

.home-section .header {
    color: var(--blanco_gris);
    font-weight: bold;
    margin: 15px;
    width: 95%;
    display: flex;
    justify-content: space-between;
}

/* buscador */
.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: relative;
    margin: 15px;
}

.input {
    border-style: none;
    height: 50px;
    width: 50px;
    padding: 10px;
    outline: none;
    border-radius: 50%;
    transition: .5s ease-in-out;
    background-color: var(--body_box);
    box-shadow: 0px 0px 3px #f3f3f3;
    padding-right: 40px;
    color: #fff;
}

.input::placeholder,
.input {
    font-size: 17px;
}

.input::placeholder {
    color: var(--blanco);
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    outline: none;
    border-style: none;
    border-radius: 50%;
    pointer-events: painted;
    background-color: transparent;
    transition: .2s linear;
}

.icon:focus~.input,
.input:focus {
    box-shadow: none;
    width: 250px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 3px solid var(--lila);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.date {
    text-align: center;
    font-size: 18px;
}

.date .hora {
    color: var(--lila);
}

.perfil {
    background-color: var(--body_box);
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 2px solid var(--lila);
}

.contenedor{
    margin: 30px;
    background-color: var(--body_box);
    height: 75vh;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
}
.contenedor p{
    color:var(--blanco);
    font-weight: bold;
    font-size: 30px;
}
.contenedor h1 {
    color: var(--blanco_gris);
    font-size: 80px;
}
.contenedor span {
    color: var(--lila);
}
.contenedor .opciones{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor .opciones .box{
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedor .opciones .box i{
    background-color: var(--lila_opacidad);
    color: var(--lila);
    border-radius: 50%;
    width: 100px;
    font-size: 30px;
    padding: 30px;
    text-align: center;
}
.contenedor .opciones .box span{
    color: var(--blanco);
    font-weight: bold;
    font-size: 25px;
    margin: 20px;
}

.contenedor .footer {
    text-align: center;
    color: var(--lila);
    font-weight: bold;
}

.contenedor .footer .derechos {
    color: var(--blanco);
}
@media (max-width: 420px) {
    .sidebar li .tooltip {
        display: none;
    }
}